---
layout: default
refactor: true
---

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <div class="post-preview">
      <h1>
        <a href="{{ post.url | relative_url }}">
          <span style="color:rgb(218, 139, 139);">{{ post.categories | first }} › </span>
          {{ post.title }}
        </a>
      </h1>
      <div class="post-content">
        <p>{% include post-description.html %}</p>
      </div>
      <div class="post-meta text-muted d-flex">
        <div class="mr-auto">
          <i class="far fa-calendar fa-fw"></i>
          <em class="timeago" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ post.date | date: '%Y년 %m월 %d일 %A' }}" title="">{{ post.date | date: '%Y년 %m월 %d일' }}</em>
          <i class="far fa-clock fa-fw"></i>
          <span class="readtime" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="2100 words">
            <em>{{ post.readtime }} min</em>
          </span>
          <i class="far fa-folder-open fa-fw"></i>
          <span>
            {% for category in post.categories %}
              {{ category }}
              {% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
    <hr> <!-- 포스트 구분선 -->
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
