<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <div class="post-preview">
      {% assign card_body_col = '12' %}

      {% if post.image %}
        {% assign src = post.image.path | default: post.image %}
        {% unless src contains '//' %}
          {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
        {% endunless %}

        {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

        {% assign lqip = null %}

        {% if post.image.lqip %}
          {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
        {% endif %}

        <div class="post-image">
          <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
        </div>
      {% endif %}

      <div class="post-body">
        <h1 class="post-title my-2 mt-md-0"><strong>{{ post.title }}</strong></h1>

        <div class="post-text content mt-0 mb-3">
          <p>{% include post-description.html %}</p>
        </div>

        <div class="post-meta">
          <div class="post-date">
            <i class="far fa-calendar fa-fw me-1"></i>
            {% include datetime.html date=post.date lang=lang %}
          </div>

          {% if post.categories.size > 0 %}
            <div class="post-categories">
              <i class="far fa-folder-open fa-fw me-1"></i>
              <span class="categories">
                {% for category in post.categories %}
                  {{ category }}
                  {%- unless forloop.last -%},{%- endunless -%}
                {% endfor %}
              </span>
            </div>
          {% endif %}

          {% if post.pin %}
            <div class="pin">
              <i class="fas fa-thumbtack fa-fw"></i>
              <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
            </div>
          {% endif %}
        </div>
        <!-- .post-meta -->
      </div>
      <!-- .post-body -->
    </div>
  {% endfor %}
</div>
<!-- #post-list -->
