/* 스타일 기본 설정 */
#post-list {
  margin-top: 2rem;

  .card-wrapper {
    &:hover {
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .card {
    border: 0;
    background: none;

    %img-radius {
      border-radius: $radius-lg $radius-lg 0 0;
    }

    .preview-img {
      @extend %img-radius;

      img {
        @extend %img-radius;
      }
    }

    .card-body {
      height: 100%;
      padding: 1rem;

      .card-title {
        @extend %text-clip;
        color: var(--heading-color) !important; // 제목 색상
        font-size: 1.25rem;
      }

      %muted {
        color: #808080 !important; // 음소거 텍스트 색상
      }

      .card-text.content {
        color: #7D7D7D !important; // 포스트 설명 색상
        
        p {
          margin: 0;
          color: #7D7D7D !important; // 포스트 설명 색상
        }
      }

      .post-meta {
        @extend %muted;

        i {
          &:not(:first-child) {
            margin-left: 1.5rem;
          }
        }

        em {
          @extend %normal-font-style;
          color: inherit;
        }

        > div:first-child {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

/* 구분선 스타일 */
.post-divider {
  height: 0.5px; /* 구분선 두께 */
  background-color: #B0B0B0; /* 구분선 색상 (연한 회색) */
  margin: 0.5rem 0; /* 구분선 위아래 간격 */
}

/* 카테고리 타이틀 스타일 */
.category-title {
  color: #A1674D !important; /* 카테고리 색상 */
  font-size: 1.3rem; /* 카테고리 폰트 크기 증가 */
  font-weight: bold; /* 카테고리 텍스트 진하게 */
}

/* 제목과 내용 스타일 */
.post-title-container {
  display: flex; /* 수평으로 배치 */
  flex-direction: column; /* 수직 정렬 */
  margin-bottom: 0.5rem; /* 제목과 내용 사이의 간격 */

  .post-category {
    font-size: 1.5rem; /* 카테고리 폰트 크기 증가 */
    color: #A1674D !important; /* 카테고리 색상 */
    font-weight: bold; /* 카테고리 텍스트 진하게 설정 */
  }

  .post-title {
    font-size: 1.25rem; /* 제목 폰트 크기 */
    color: var(--heading-color) !important; /* 제목 색상 */
    font-weight: bold; /* 제목 텍스트 진하게 설정 */
  }
}

/* Pagination 스타일 */
.pagination {
  color: var(--text-color);
  font-family: Lato, sans-serif;
  justify-content: space-evenly;

  a:hover {
    text-decoration: none;
  }

  .page-item {
    .page-link {
      color: var(--btn-patinator-text-color);
      padding: 0 0.6rem;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      border-radius: 0.5rem;
      border: 0;
      background-color: inherit;
    }

    &.active {
      .page-link {
        background-color: var(--btn-paginator-hover-color);
      }
    }

    &:not(.active) {
      .page-link {
        &:hover {
          box-shadow: inset var(--btn-border-color) 0 0 0 1px;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        color: rgba(108, 117, 125, 0.57);
      }
    }
  }
}

/* Tablet 스타일 */
@media all and (min-width: 768px) {
  %img-radius {
    border-radius: 0 $radius-lg $radius-lg 0;
  }

  #post-list {
    .card {
      .card-body {
        padding: 1.75rem;

        .card-text.content {
          color: #7D7D7D !important; // 포스트 설명 색상
          line-height: 1.5;

          p {
            margin: 0;
            color: #7D7D7D !important; // 포스트 설명 색상
          }
        }
      }
    }
  }
}

/* 작은 화면에서 Sidebar 및 TOC 숨기기 */
@media all and (max-width: 830px) {
  .pagination {
    .page-item {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }
  }
}

/* 큰 화면에서 Sidebar 표시 */
@media all and (min-width: 831px) {
  #post-list {
    margin-top: 2.5rem;
  }

  .pagination {
    font-size: 0.85rem;
    justify-content: center;

    .page-item {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }
    }

    .page-index {
      display: none;
    }
  }
}
